<div class="row members mt-4 mb-4 justify-content-center">
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://www.erlang.org/">
      <img src="/assets/img/erlang-logo.svg" alt="Erlang" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://erlef.org/">
      <img src="/assets/img/eef-logo.svg" alt="Erlang Ecosystem Foundation" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://elixir-lang.org/">
      <img src="/assets/img/elixir-logo.png" alt="Elixir" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://gleam.run/">
      <img src="/assets/img/gleam-logo.svg" alt="Gleam" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://hex.pm/">
      <img src="/assets/img/hex-logo.png" alt="Hex.pm" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://nerves-project.org/">
      <img src="/assets/img/nerves-logo.svg" alt="Nerves" />
    </a>
  </div>
  <div class="col-6 col-md-3 col-xl mb-4 mb-xl-0">
    <a href="https://openriak.org/">
      <img src="/assets/img/openriak-logo.png" alt="OpenRiak" />
    </a>
  </div>
</div>
