---
layout: single
breadcrumbs: true
---

<a href="https://osv.dev/vulnerability/{{ page.cveMetadata.cveId }}">
  See on OSV.dev
</a>

{% if page.containers.cna.title %}
  <h2>Summary</h2>

  {{ page.containers.cna.title }}
{% endif %}

<h2>Vulnerability description</h2>

{% assign description = page.containers.cna.descriptions | where: "lang", "en" | first %}
{% assign descriptionText = description.value | markdownify %}
{% assign descriptionHtml = description.supportingMedia | where: "type", "text/html" | first %}

{{ descriptionHtml.value | default: descriptionText }}

{% assign cvss = page.containers.cna.metrics | where: "format", "CVSS" %}
{% assign cwe = page.containers.cna.problemTypes | first | map: "descriptions" | first | where: "lang", "en" | where: "type", "CWE" | first %}

{% if cvss or cwe %}
  <dl>
    {% if cvss %}
      <dt>CSSS Base Score</dt>
      <dd>{{ cvss[0].cvssV4_0.baseScore }}</dd>
      <dt>Severity</dt>
      <dd>{{ cvss[0].cvssV4_0.baseSeverity }}</dd>
      <dt>CVSS Vector</dt>
      <dd>{{ cvss[0].cvssV4_0.vectorString }}</dd>
    {% endif %}
    {% if cwe %}
      <dt>Weakness Type</dt>
      <dd>{{ cwe.description }}</dd>
    {% endif %}
  </dl>
{% endif %}

{% assign references = page.containers.cna.references %}
{% if references %}
  <h2>References</h2>

  <ul>
    {% for reference in references %}
      <li>
        <a href="{{ reference.url}}">
          {{ reference.name | default: reference.url }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% assign affected = page.containers.cna.affected %}
{% if affected %}
  <h2>Affected</h2>

  {% for entry in affected %}
    <h3>
      {% case entry.collectionURL %}
        {% when "https://repo.hex.pm" %}
          Hex: <code>{{ entry.packageName }}</code>
        {% when "https://github.com" %}
          GitHub: <code>{{ entry.packageName }}</code>
        {% else %}
          {{ entry.vendor }} / {{ entry.product }}
      {% endcase %}
    </h3>

    <ul>
      {% for version in entry.versions %}
        <li>
          {{ version.status }}
          {{ version.version }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

{% endif %}